name: Ship GitHub Logs to Elastic

on:
  workflow_run:
    workflows: ["Run catalogue sync"]
    types: [completed]

permissions:
  actions: read
  contents: read

jobs:
  ship-logs:
    runs-on: ubuntu-latest
    steps:
      - uses: knutfr/github-actions-to-elk@v1.0.4
        with:
          githubToken: "${{ secrets.PAT }}"
          githubOrg: "vkirankumar"
          githubRepository: "plm-config-as-code"
          githubRunId: "${{ github.event.workflow_run.id }}"
          elasticHost: "https://my-observability-project-c8cf0b.es.us-east-1.aws.elastic.cloud:443"
          elasticApiKeyId: "${{ secrets.ELASTIC_KEY_ID }}"
          elasticApiKey: "${{ secrets.ELASTIC_KEY }}"
          elasticIndex: "github"
