name: Run catalogue sync

# Controls when the workflow will run
on:
  # Triggers the workflow every 5 minutes
  # schedule:
  #   - cron: "*/5 * * * *"  # Every 5 minutes

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    # inputs:
    #   cr:
    #     description: 'ServiceNow change request number'
    #     type: string
    #     required: true
    #   release_note:
    #     description: 'Confluence link to release notes'
    #     type: string
    #     required: true
    #   jira_release:
    #     description: 'Jira release'
    #     type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "diffChecker"
  diffChecker:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x] #I want to test code on these node-versions
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      # Runs a single command using the runners shell
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build 
        run: npm run build

      - name: Run diff [ Reference DB vs Target DB ]
        id: transform
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          PORT: ${{ secrets.PORT }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_TARGET: ${{ secrets.DB_TARGET }}
          DB_REFERENCE: ${{ secrets.DB_REFERENCE }}
        run: npm run diff:prod

      - name: Check DB diff
        run: echo Data diff generated in directory = ${{ steps.transform.outputs.diffPath }}

      - name: List open PRs from branches starting with 'auto-pr'
        id: list_prs
        # if: ${{ steps.transform.outputs.diffPath != '' && steps.transform.outputs.diffPath != null }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Fetching PRs from branches starting with 'auto-pr'"
          PRS=$(gh pr list --state open --json number,headRefName --jq '.[] | select(.headRefName | startswith("auto-pr")) | .number')
          
          if [ -z "$PRS" ]; then
            echo "No PRs found from auto-pr branches."
            echo "PRS_TO_CLOSE=" >> $GITHUB_ENV
          else
            echo "Found PRs to close: $PRS"
            echo "PRS_TO_CLOSE=$PRS" >> $GITHUB_ENV
          fi

      - name: Close PRs
        if: ${{env.PRS_TO_CLOSE != ''}} # && steps.transform.outputs.diffPath != '' && steps.transform.outputs.diffPath != null }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for PR in $PRS_TO_CLOSE; do
            BRANCH=$(gh pr view $PR --json headRefName --jq '.headRefName')
            echo "Closing PR #$PR from branch $BRANCH"
            gh pr close $PR --delete-branch
          done

      - name: Create Pull Request
        id: cpr
        if: ${{ steps.transform.outputs.diffPath != '' && steps.transform.outputs.diffPath != null }}
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Sync with reference DB ${{ steps.transform.outputs.diffPath }}
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: 'auto-pr-branch-${{ steps.transform.outputs.diffPath }}'
          base: main
          delete-branch: true
          title: '[PR]: PLM catalogue changes - ${{ steps.transform.outputs.diffPath }}'
          body: |
            AUTO GENERATED PR:
            - PLM catalogue changes between design time and runtime catalog.
          labels: |
            automated pr
          assignees: vkirankumar
          reviewers: vkirankumar

      - name: Post log to Elastic
        env:
            ELASTIC_URL: "https://my-observability-project-c8cf0b.kb.us-east-1.aws.elastic.cloud/"
            ELASTIC_API_KEY: "RkVwQS01c0JWOVN2Q3RQQ0FPOXk6WmhIQ0ZLLVlUOXNybGE3eFFkdHpqQQ=="
        run: |
            BODY=$(jq -n \
              --arg ts "$(date -u +"%Y-%m-%dT%H:%M:%SZ")" \
              --arg repo "${{ github.repository }}" \
              --arg workflow "${{ github.workflow }}" \
              --arg job "${{ github.job }}" \
              --arg actor "${{ github.actor }}" \
              --arg branch "${{ github.ref_name }}" \
              --arg sha "${{ github.sha }}" \
              --arg status "success" \
              --arg msg "Build completed" \
              '{
                "@timestamp": $ts,
                source: "github-actions",
                repo: $repo,
                workflow: $workflow,
                job: $job,
                actor: $actor,
                branch: $branch,
                commit: $sha,
                status: $status,
                message: $msg
              }'
            )

            echo "Posting:"
            echo "$BODY"
            curl -X POST https://my-observability-project-c8cf0b.es.us-east-1.aws.elastic.cloud:443/_bulk?pretty \
              -H "Authorization: ApiKey $ELASTIC_API_KEY" \
              -H "Content-Type: application/json" \
              -d "$BODY"
