name: Run catalogue sync

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "diffChecker"
  diffChecker:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x] #I want to test code on these node-versions
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      # Runs a single command using the runners shell
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build 
        run: npm run build

      - name: Transform 
        id: transform
        run: npm run compare:prod

      - name: Check DB diff
        run: echo Data diff generated in directory = ${{ steps.transform.outputs.diffPath }}

      - name: List open PRs from branches starting with 'auto-pr'
        id: list_prs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Fetching PRs from branches starting with 'auto-pr'"
          PRS=$(gh pr list --state open --json number,headRefName --jq '.[] | select(.headRefName | startswith("auto-pr")) | .number')
          
          if [ -z "$PRS" ]; then
            echo "No PRs found from auto-pr branches."
            echo "PRS_TO_CLOSE=" >> $GITHUB_ENV
          else
            echo "Found PRs to close: $PRS"
            echo "PRS_TO_CLOSE=$PRS" >> $GITHUB_ENV
          fi

      - name: Close PRs
        if: env.PRS_TO_CLOSE != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for PR in $PRS_TO_CLOSE; do
            BRANCH=$(gh pr view $PR --json headRefName --jq '.headRefName')
            echo "Closing PR #$PR from branch $BRANCH"
            gh pr close $PR --delete-branch
          done

      - name: Create Pull Request
        id: cpr
        if: ${{ steps.transform.outputs.diffPath != '' && steps.transform.outputs.diffPath != null }}
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Sync with reference DB ${{ steps.transform.outputs.diffPath }}
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: 'auto-pr-branch-${{ steps.transform.outputs.diffPath }}'
          base: main
          delete-branch: true
          title: 'PR: PLM catalogue changes'
          body: |
            AUTO GENERATED PR:
            - PLM catalogue changes between design time and runtime catalog.
          labels: |
            automated pr
